latex/proposals
latex/typeset
latex/graphics/questions
latex/papers/*
!latex/papers/AC_template.tex

# LaTeX build files
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc*
*.out
*.synctex.gz
*.idv
*.ptc
*.bak
